/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('/assets/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
    ;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track:hover {
    background: #ddd;
}